body {
  margin: 0;
  background-color: rgb(248, 246, 246);
}
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ccc;
}
.header-container {
 background-color: #24292f;
 }
.wrapper {
 width: 1248px;
 margin: auto;
 display: flex;
 align-items: center;
}
.wrapper input {
 margin-left: auto;
}
.menu {
 list-style-type: none;
 display: flex;
 padding: 0;
}
.menu li {
 margin: 0 30px;
}
.menu a {
 color: #fff;
 text-decoration: none;
}
.menu a:hover {
 color: gray;
}
.auth-actions {
 text-align: justify;
 padding: 15px;
 margin: 0px;
 justify-content: space-between;
 align-items: center;
 color: #fff;
}
.auth-actions a:hover {
 color:gray;
}
.btn{
  border-radius: 6px;  
  font-family: Arial, Helvetica, serif; 
  font-size: .8em;
  margin: 0;
  padding: 5px;
  background-color:#24292f;
  padding-left: 5px;
  color: white;
  border: 1px solid #fff;
  padding: 4px 8px;
  margin-left: 16px;
  font-size: 14px;
}
.btn:hover{
  color:gray;
  border-color: gray;
  cursor:pointer
}
.input{
  background-color: #24292f;
  color: white;
  border:1px solid #fff ;
  padding: 8px 2px;
  border-radius: 8px;
  font-size: 14px;
}
.input:focus{
  background-color: white;
  color: black;
}
h1 {  
  font-family: 'League Gothic', Arial, sans-serif;  
  font-weight: normal;
  font-size: 48px;
  font-style: italic;
}
p {  
  font-family: PTSans;
}
p {  font-family: PTSansRegular;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
  }
p em {  
  font-family: PTSansItalic;  
  font-style: normal;  
  font-weight: bold;
}
p strong {  
  font-family: PTSansBold; 
  font-style: normal;
  font-weight: 1em;
}
p strong em, p em strong {  
  font-family: PTSansBoldItalic;  
  font-weight: normal;  
  font-style: italic;
}
em {  
  font-family: "Gentium Book Basic", Palatino, serif;  
  font-weight: 400; 
  font-style: italic;
  color: hsl(0, 100%, 50%);
  font-size: 32px;
  text-decoration: blink;
  text-shadow: -4px 4px 3px #666, 1px -1px 2px #000;
}
.em em {
  text-decoration :line-through;
}
